#articles {
    padding: 6% 4% 8% 5%;
}

.heading {
    font-family: Alata, serif;
    font-size: 1.3em;
    /*margin-top: 60px;*/
}

.article-content {
    font-family: Alata, serif;
    font-size: 0.9em;
    margin-top: 0;
    overflow-wrap: break-word;
}
article {
    margin-bottom: 3%;
}

.general_description {
    overflow-y: scroll;
    height: 100%;
}

.general_description::-webkit-scrollbar {
    width: 13px;
}
.general_description::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 8px;
}
.general_description::-webkit-scrollbar-track {
    background: white;
    border-radius: 8px;
    margin-top: 6em;
    margin-bottom: 6em;
}
.general_description::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}
