<div class="general_description">

    <app-margin></app-margin>

    <section id="articles">

        <article id="prerequirements">

            <p class="heading">{{'Prerequirements' | translate}}:</p>
            <p class="article-content">{{description.prerequirements}}</p>

        </article>

        <article id="title-after-studies">

            <p class="heading">{{'Title' | translate}}:</p>
            <p class="article-content">{{description.title}}</p>

        </article>

        <article id="figure">

            <p class="heading">{{'Figure' | translate}}:</p>
            <p class="article-content">{{description.figure}}</p>
        </article>

    </section>

</div>
