<div>
    <header class="top-menu">

        <section class="left-top-menu">

            <button class="left-top-button">
                Programy studiów
                <img src="assets/study_programs_icon.png" id="study-programs-icon" alt="">
            </button>

            <button class="left-top-button">
                Wyszukaj
                <img src="assets/search_icon.png" id="search-icon" alt="">
            </button>

        </section>

        <section class="right-top-menu">
            <button>Język</button>
        </section>

    </header>

    <section class="content">

        <section class="main_window">

            <h1>Programy studiów</h1>

            <section id="degree_choice">

                <h2>Wybierz kierunek studiów</h2>

                <label>
                    <select [(ngModel)]="degreeSelected">
                        <option
                            *ngFor="let degree of degrees"
                            [value]="degree"
                        >
                            {{ degree }}
                        </option>
                    </select>
                </label>

            </section>

            <section id="cycle_choice" *ngIf="degreeSelected != null">

                <h2>Wybierz cykl kształcenia</h2>

                <label>
                    <select
                        [(ngModel)]="cycleSelected"
                        (ngModelChange)="navigateTo(false)"
                    >
                        <option
                            *ngFor="let cycle of cycles"
                            [value]="cycle"
                        >
                            {{ cycle }}
                        </option>
                    </select>
                </label>

            </section>

            <section id="specialization_choice"
                     *ngIf="cycleSelected != null && specializations != []"
            >

                <h2>Wybierz specjalizację</h2>

                <label>
                    <select
                        [(ngModel)]="specializationSelected"
                        (ngModelChange)="navigateTo(true)"
                    >
                        <option
                            *ngFor="let specialization of specializations"
                            [value]="specialization"
                        >
                            {{ specialization }}
                        </option>
                    </select>

                </label>

            </section>

        </section>

        <footer>
            <img src="assets/logo_PWr.png" id="logo" alt="PWr logo">
        </footer>

    </section>

</div>
