.top-menu {
    background: var(--primary-color);
}

section.left-top-menu, section.right-top-menu {
    display: inline-block;
}

.right-top-menu {
    float: right;
    padding-right: 50px;
}

.left-top-button {
    background: var(--primary-color);
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 15px 50px 15px 25px;
}

.left-top-button:hover {
    background: var(--accent-color);
}

#study-programs-icon, #search-icon {
    padding-left: 10px;
    height: 22px;
    position: absolute;
}

main, div {
    height: 100%;
    overflow: hidden;
}

.content {
    height: 100%;
    overflow: hidden;
    background: var(--background-color);
}

.main_window {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: var(--main-window-color);
    border-radius: 60px;
    width: 65%;
    height: 65%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_window > h1 {
    text-align: center;
    padding-top: 20px;
}
