<main>
    <div>
        <header class="top-menu">
            <section class="left-top-menu">
                <button class="left-top-button">
                    Programy studiów
                </button>
                <button class="left-top-button">
                    Wyszukaj
                    <img src="assets/search_icon.png" id="search-icon">
                </button>
            </section>
            <section class="right-top-menu">
                <button>Język</button>
            </section>
        </header>
        <section class="content">
            <p>Div</p>
        </section>
    </div>
</main>
