<div>
    <header class="top-menu">

        <section class="left-top-menu">

            <button class="left-top-button">
                Programy studiów
                <img src="assets/study_programs_icon.png" id="study-programs-icon" alt="">
            </button>

            <button class="left-top-button">
                Wyszukaj
                <img src="assets/search_icon.png" id="search-icon" alt="">
            </button>

        </section>

        <section class="right-top-menu">
            <button>Język</button>
        </section>

    </header>

    <section class="content">

        <section class="main_window">

            <h1>Programy studiów</h1>
            <h2>Wybierz kierunek studiów</h2>

            <label>
                <select>
                    <option
                        *ngFor="let program of programs"
                        [value]="program.name"
                    >
                        {{ program.name }}
                    </option>
                </select>
            </label>

        </section>

    </section>

</div>
