<div mat-dialog-actions class="header">
    <button id="close" mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content class="mat-dialog">
    <div class="container">
        <div class="title">{{ 'SubjectCard' | translate }}</div>
        <div class="description">
            <div>
                {{ 'SubjectName' | translate }} <span class="left-text">{{ name }}</span>
            </div>
            <div>
                {{ 'SubjectKind' | translate }} <span class="left-text">{{ kindOfSubject }}</span>
            </div>
        </div>
        <table>
            <tr>
                <td class="table-header"></td>
                <th class="table-header">{{ 'Lecture' | translate }}</th>
                <th class="table-header">{{ 'Classes' | translate }}</th>
                <th class="table-header">{{ 'Laboratory' | translate }}</th>
                <th class="table-header">{{ 'Project' | translate }}</th>
                <th class="table-header">{{ 'Seminar' | translate }}</th>
            </tr>
            <tr>
                <td class="table-header">{{ 'ZZUHours' | translate }}</td>
                <td>{{ subject?.lecture?.ZZU }}</td>
                <td>{{ subject?.classes?.ZZU }}</td>
                <td>{{ subject?.laboratory?.ZZU }}</td>
                <td>{{ subject?.project?.ZZU }}</td>
                <td>{{ subject?.seminar?.ZZU }}</td>
            </tr>
            <tr>
                <td class="table-header">{{ 'CNPSHours' | translate }}</td>
                <td>{{ subject?.lecture?.CNPS }}</td>
                <td>{{ subject?.classes?.CNPS }}</td>
                <td>{{ subject?.laboratory?.CNPS }}</td>
                <td>{{ subject?.project?.CNPS }}</td>
                <td>{{ subject?.seminar?.CNPS }}</td>
            </tr>
            <tr>
                <td class="table-header">{{ 'FormOfCrediting' | translate }}</td>
                <td>{{ subject?.lecture?.crediting }}</td>
                <td>{{ subject?.classes?.crediting }}</td>
                <td>{{ subject?.laboratory?.crediting }}</td>
                <td>{{ subject?.project?.crediting }}</td>
                <td>{{ subject?.seminar?.crediting }}</td>
            </tr>
            <tr>
                <td class="table-header">{{ 'ECTSPoints' | translate }}</td>
                <td>{{ subject?.lecture?.ECTS }}</td>
                <td>{{ subject?.classes?.ECTS }}</td>
                <td>{{ subject?.laboratory?.ECTS }}</td>
                <td>{{ subject?.project?.ECTS }}</td>
                <td>{{ subject?.seminar?.ECTS }}</td>
            </tr>
        </table>

        <div>{{ 'ProgrammeContent' | translate }}</div>
        <span class="programme-content" *ngFor="let p of subject?.programme_content; index as i">
            {{ i + 1 }}. {{ p }}
        </span>
        {{ 'Link' | translate }}
        <a class="link" href="{{subject?.link}}">{{ subject?.link }}</a>
    </div>
</div>

