<div mat-dialog-actions class="header">
    <button id="close" mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content class="mat-dialog">
    <div class="container" *ngIf="exists">
        <div class="title">{{ 'SubjectCard' | translate }}</div>
        <div class="description">
            <div>
                {{ 'SubjectName' | translate }} <span class="left-text">{{ subject?.name }}</span>
            </div>
            <div>
                {{ 'GroupOfCourses' | translate }} <span class="left-text">{{ subject?.group_of_courses }}</span>
            </div>
        </div>
        <table id="information">
            <tr>
                <td class="table-header"></td>
                <th class="table-header">{{ 'Lecture' | translate }}</th>
                <th class="table-header">{{ 'Classes' | translate }}</th>
                <th class="table-header">{{ 'Laboratory' | translate }}</th>
                <th class="table-header">{{ 'Project' | translate }}</th>
                <th class="table-header">{{ 'Seminar' | translate }}</th>
            </tr>
            <tr>
                <td class="table-header">{{ 'ZZUHours' | translate }}</td>
                <td>{{ subject?.lecture?.ZZU }}</td>
                <td>{{ subject?.classes?.ZZU }}</td>
                <td>{{ subject?.laboratory?.ZZU }}</td>
                <td>{{ subject?.project?.ZZU }}</td>
                <td>{{ subject?.seminar?.ZZU }}</td>
            </tr>
            <tr>
                <td class="table-header">{{ 'CNPSHours' | translate }}</td>
                <td>{{ subject?.lecture?.CNPS }}</td>
                <td>{{ subject?.classes?.CNPS }}</td>
                <td>{{ subject?.laboratory?.CNPS }}</td>
                <td>{{ subject?.project?.CNPS }}</td>
                <td>{{ subject?.seminar?.CNPS }}</td>
            </tr>
            <tr>
                <td class="table-header">{{ 'FormOfCrediting' | translate }}</td>
                <td>{{ subject?.lecture?.crediting }}</td>
                <td>{{ subject?.classes?.crediting }}</td>
                <td>{{ subject?.laboratory?.crediting }}</td>
                <td>{{ subject?.project?.crediting }}</td>
                <td>{{ subject?.seminar?.crediting }}</td>
            </tr>
            <tr>
                <td class="table-header">{{ 'ECTSPoints' | translate }}</td>
                <td>{{ subject?.lecture?.ECTS }}</td>
                <td>{{ subject?.classes?.ECTS }}</td>
                <td>{{ subject?.laboratory?.ECTS }}</td>
                <td>{{ subject?.project?.ECTS }}</td>
                <td>{{ subject?.seminar?.ECTS }}</td>
            </tr>
            <tr>
                <td class="table-header">{{ 'GroupOfCourses'  | translate }}</td>
                <td><section *ngIf="subject?.lecture?.courseGroup">X</section></td>
                <td><section *ngIf="subject?.classes?.courseGroup">X</section></td>
                <td><section *ngIf="subject?.laboratory?.courseGroup">X</section></td>
                <td><section *ngIf="subject?.project?.courseGroup">X</section></td>
                <td><section *ngIf="subject?.seminar?.courseGroup">X</section></td>
            </tr>
        </table>

        <div *ngIf="subject?.programme_content?.length !== 0">{{ 'ProgrammeContent' | translate }}</div>
        <span class="programme-content" *ngFor="let p of subject?.programme_content; index as i">
            <table id="curriculum">
                <tr class="curriculum_content">
                    <td class="curriculum_content">{{ i + 1 }}.</td>
                    <td class="curriculum_content">{{ p }}</td>
                </tr>
            </table>
        </span>
        <div *ngIf="subject?.link !== ''">{{ 'Link' | translate }}</div>
        <a class="link" href="{{subject?.link}}">{{ subject?.link }}</a>
    </div>
    <div *ngIf="!exists" id="not-exist">
        <div>{{ 'EmptyCard' | translate }}</div>
        <div *ngIf="subject?.link !== ''">{{ 'EmptyCardLink' | translate }}</div>
        <a class="link" href="{{subject?.link}}">{{ subject?.link }}</a>
    </div>
</div>

