<div class="container">
    <div class="header">
        <h3 mat-dialog-title>Zajęcia obowiązkowe</h3>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="grid">
        <div class="column">
            <div class="circle" style="background-color: var(--przedmiot-kierunkowy)"></div>
            <p class="text">kierunkowe</p>
            <div class="circle" style="background-color: var(--przedmiot-specjalnosciowy)"></div>
            <p class="text">specjalnościowe</p>
            <div class="circle" style="background-color: var(--praca-dyplomowa)"></div>
            <p class="text">praca dyplomowa</p>
        </div>
        <div class="column">
            <div class="circle" style="background-color: var(--przedmiot-nauk-podstawowych)"></div>
            <p class="text">z zakresu nauk podstawowych</p>
            <div class="circle" style="background-color: var(--przedmiot-ksztalcenia-ogolnego)"></div>
            <p class="text">kształcenia ogólnego</p>
            <div class="circle" style="background-color: var(--praktyka)"></div>
            <p class="text">praktyka</p>
        </div>
    </div>
    <h3 mat-dialog-title>Bloki wybieralne</h3>
    <div class="grid">
        <div class="column">
            <div class="circle" style="background-color: var(--blok-kierunkowy)"></div>
            <p class="text">kierunkowe</p>
            <div class="circle" style="background-color: var(--blok-specjalnosciowy)"></div>
            <p class="text">specjalnościowe</p>
        </div>
        <div class="column">
            <div class="circle" style="background-color: var(--blok-nauk-podstawowych)"></div>
            <p class="text">z zakresu nauk podstawowych</p>
            <div class="circle" style="background-color: var(--blok-ksztalcenia-ogolnego)"></div>
            <p class="text">kształcenia ogólnego</p>
        </div>
    </div>
    <div class="bottom_grid">
        <div>

        </div>
        <div class="grid2">
            <div>
                liczba punktów ECTS z podziałem na formy kształcenia <br>
                nazwa przedmiotu
            </div>
            <div class="rectangle">

            </div>
            <div>
                przedmiot kończy się egzaminem <br>
                2h - wykład <br>
                2h - ćwiczenia <br>
                0h - laboratorium <br>
                0h - projekt <br>
                0h - seminarium <br>
            </div>
        </div>
    </div>
</div>
