<div class="container">
    <div class="header">
        <h3 mat-dialog-title>{{ 'ObligatorySubjects' | translate }}</h3>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="grid">
        <div class="column">
            <div class="circle" style="background-color: var(--przedmiot-kierunkowy)"></div>
            <p class="text">{{ 'MainFieldOfStudy' | translate }}</p>
            <div class="circle" style="background-color: var(--przedmiot-specjalnosciowy)"></div>
            <p class="text">{{ 'SpecializationBlock' | translate }}</p>
<!--            <div class="circle" style="background-color: var(&#45;&#45;praca-dyplomowa)"></div>-->
<!--            <p class="text">{{ 'Diploma' | translate }}</p>-->
        </div>
        <div class="column">
            <div class="circle" style="background-color: var(--przedmiot-nauk-podstawowych)"></div>
            <p class="text">{{ 'BasicScience' | translate }}</p>
            <div class="circle" style="background-color: var(--przedmiot-ksztalcenia-ogolnego)"></div>
            <p class="text">{{ 'GeneralEducation' | translate }}</p>
<!--            <div class="circle" style="background-color: var(&#45;&#45;praktyka)"></div>-->
<!--            <p class="text">{{ 'PracticalTraining' | translate }}</p>-->
        </div>
    </div>
    <h3 mat-dialog-title>{{ 'OptionalBlocks' | translate }}</h3>
    <div class="grid">
        <div class="column">
            <div class="circle" style="background-color: var(--blok-kierunkowy)"></div>
            <p class="text">{{ 'MainFieldOfStudy' | translate }}</p>
            <div class="circle" style="background-color: var(--blok-specjalnosciowy)"></div>
            <p class="text">{{ 'SpecializationBlock' | translate }}</p>
        </div>
        <div class="column">
            <div class="circle" style="background-color: var(--blok-nauk-podstawowych)"></div>
            <p class="text">{{ 'BasicScience' | translate }}</p>
            <div class="circle" style="background-color: var(--blok-ksztalcenia-ogolnego)"></div>
            <p class="text">{{ 'GeneralEducation' | translate }}</p>
        </div>
    </div>
    <div class="bottom_grid">
        <div>

        </div>
        <div class="grid2">
            <div>
                {{ 'ECTSPointsSplit' | translate }}<hr><br>
                {{ 'SubjectNameHelp' | translate }}<hr>
            </div>
            <div class="rectangle"></div>
<!--            <app-subject></app-subject>-->
            <div>
                {{ 'Exam' | translate }}<hr> <br>
                2h - {{ 'Lecture' | translate }} <br>
                2h - {{ 'Classes' | translate }} <br>
                0h - {{ 'Laboratory' | translate }} <br>
                0h - {{ 'Project' | translate }} <br>
                0h - {{ 'Seminar' | translate }}<hr> <br>
            </div>
        </div>
    </div>
</div>
