.top-menu {
    background: var(--primary-color);
}

section.left-top-menu, section.right-top-menu {
    display: inline-block;
}

.right-top-menu {
    float: right;
    padding-right: 50px;
}

.left-top-button {
    background: var(--primary-color);
    border: none;
    color: white;
    text-align: center;
    font-family: Amiko, serif;
    font-size: 18px;
    padding: 15px 50px 15px 25px;
}

.left-top-button:hover {
    background: var(--accent-color);
}

#study-programs-icon, #search-icon {
    padding-left: 10px;
    height: 22px;
    position: absolute;
}

main, div {
    height: 100%;
    overflow: hidden;
}

.content {
    height: 100%;
    overflow: hidden;
    background: var(--background-color);
}

.main_window {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: var(--main-window-color);
    border-radius: 60px;
    width: 65%;
    height: 65%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, h2 {
    text-align: center;
    font-family: Jura, serif;
}

h1 {
    padding-top: 3.5%;
    /*font-size: 32px;*/
    font-size: 2em;
    font-weight: bold;
}

h2 {
    padding-top: 20px;
    /*font-size: 20px;*/
    font-size: 1.2em;
}

select {
    background-color: var(--background-color);
    border-radius: 6px;
    /*font-size: 14px;*/
    font-size: 0.9em;
    display: block;
    margin: 0 auto;
    font-family: Jura, serif;
    font-weight: 900;
    padding-left: 5px;
    color: var(--smooth-text);
}

option {
    font-weight: 900;
}

#grid_options_layout {
    display: grid;
    grid-template-rows: 120px 120px;
    grid-template-columns: auto auto;
}

.grid_options_item {
    padding: 0;
}

#logo {
    position: fixed;
    left: 20px;
    bottom: 20px;
    height: 55px;
}



