<div>

    <app-start-top-menu></app-start-top-menu>

    <section class="content">

        <section class="main_window">

            <section id="title_section">

                <h1>{{'AppTitle' | translate}}</h1>

            </section>

            <section id="grid_options_layout">

                <section class="grid_options_item" id="level_choice">

                    <h2>{{'ChooseLevel' | translate}}</h2>

                    <label>
                        <select
                                [(ngModel)]="levelSelected"
                                (change)="getDegrees()"
                        >
                            <option>{{'First' | translate}} {{'Level' | translate}}</option>
                            <option>{{'Second' | translate}} {{'Level' | translate}}</option>
                        </select>
                    </label>

                </section>

                <section class="grid_options_item" id="degree_choice" *ngIf="levelSelected != null">

                    <section *ngIf="!this.loaderService.getLoading1()">

                        <h2>{{'ChooseDegree' | translate}}</h2>

                        <label>
                            <select
                                    [(ngModel)]="degreeSelected"
                                    (change)="getCycles()"
                            >
                                <option
                                        *ngFor="let degree of degrees"
                                        [value]="degree"
                                >
                                    {{ degree }}
                                </option>
                            </select>
                        </label>

                    </section>

                    <section *ngIf="this.loaderService.getLoading1()" class="spinner">
                        <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
                    </section>

                </section>

                <section class="grid_options_item" id="cycle_choice" *ngIf="degreeSelected != null">

                    <section *ngIf="!this.loaderService.getLoading2()">

                        <h2>{{'ChooseCycle' | translate}}</h2>

                        <label>
                            <select
                                    [(ngModel)]="cycleSelected"
                                    (ngModelChange)="navigateTo(false)"
                            >
                                <option
                                        *ngFor="let cycle of cyclesDisplay"
                                        [value]="cycle"
                                >
                                    {{ cycle }}
                                </option>
                            </select>
                        </label>

                    </section>

                    <section *ngIf="this.loaderService.getLoading2()" class="spinner">
                        <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
                    </section>

                </section>

                <section class="grid_options_item"
                         id="specialization_choice"
                         *ngIf="cycleSelected != null && specializations != []"
                >

                    <section *ngIf="!this.loaderService.getLoading3()">

                        <h2>{{'ChooseSpecialization' | translate}}</h2>

                        <label>
                            <select
                                    [(ngModel)]="specializationSelected"
                                    (ngModelChange)="navigateTo(true)"
                            >
                                <option
                                        *ngFor="let specialization of specializations"
                                        [value]="specialization"
                                >
                                    {{ specialization }}
                                </option>
                            </select>

                        </label>

                    </section>

                    <section *ngIf="this.loaderService.getLoading3()" class="spinner">
                        <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
                    </section>

                </section>
            </section>

        </section>

        <footer>
            <img src="../../../assets/logo_PWr.png" id="logo" alt="PWr logo">
        </footer>

    </section>

</div>
