<app-margin></app-margin>

<div>

    <table id="information">
        <tr>
            <td>Kierunek studiów:</td>
            <td>K</td>
        </tr>
        <tr>
            <td>Specjalność:</td>
            <td>S</td>
        </tr>
        <tr>
            <td>Profil:</td>
            <td>P</td>
        </tr>
        <tr>
            <td>Poziom studiów:</td>
            <td>P</td>
        </tr>
        <tr>
            <td>Forma studiów:</td>
            <td>F</td>
        </tr>
    </table>

</div>
