<app-margin></app-margin>

<div>

    <table id="information">
        <tr>
            <td>Kierunek studiów:</td>
            <td>K</td>
        </tr>
        <tr>
            <td>Specjalność:</td>
            <td>S</td>
        </tr>
        <tr>
            <td>Profil:</td>
            <td>P</td>
        </tr>
        <tr>
            <td>Poziom studiów:</td>
            <td>P</td>
        </tr>
        <tr>
            <td>Forma studiów:</td>
            <td>F</td>
        </tr>
    </table>

    <section id="buttons">
        <button>Opis ogólny</button>
        <button>Plan</button>
    </section>

    <button id="website_button">
        <a href="https://wit.pwr.edu.pl/studenci/programy-studiow">
            <img src="assets/go_to_website_icon.png" id="website_img" alt="PWr website">
        </a>
    </button>
    <p id="website_img_title">Przejdź do strony PWr</p>



</div>
