.header {
    padding: 15px;
    /*grid-template-columns: 5fr 1fr;*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--footer-color);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.left_margin, .select_semester {
    display: inline-block;
}

.left_margin {
    /*grid-auto-rows: 1fr 1fr;*/
    font-family: "Amiko", serif;
}

.select_semester {
    margin: 0;
    float: right;
    padding-right: 50px;
}

select {
    background-color: var(--semester-select-color);
    border-radius: 10px;
    height: 30px;
    font-size: 14px;
    display: block;
    font-family: "Amiko", serif;
    font-weight: 500;
    padding-left: 5px;
    padding-top: 3px;
    cursor: pointer;
}

option {
    background-color: var(--background-color);
    font-weight:500;
}

#logo {
    max-height: 50px;
    max-width: 230px;
}

.footer {
    padding: 15px;
    display: grid;
    grid-template-columns: 11fr auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--footer-color);
    text-align: left;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.degree {
    /*font-size: 18px;*/
    font-size: 1.1em;
    font-weight: bold;
}

.year {
    /*font-size: 16px;*/
    font-size: 1em;
}

#help-icon {
    margin-right: 25px;
}




