<div class="container">
    <div class="header">

        <div class="left_margin">
            <div class="degree">{{degreeChosen}}</div>
            <div class="year">{{'Start' | translate}} {{cycleChosen}}</div>
        </div>

        <div class="select_semester">
            <select [(ngModel)]="chosenSemester">
                <option
                        *ngFor="let semester of semesters"
                        [value]="semester"
                        [selected]="semester"
                >
                    {{ semester }}
                </option>
            </select>
        </div>

    </div>

    <div class="footer">

        <img ngSrc="../../../assets/logo_PWr.png" alt="logo PWr" id="logo" height="223" width="1045">

        <button mat-icon-button (click)="openDialog()" id="help-icon">
            <mat-icon>help</mat-icon>
        </button>

    </div>
</div>

