.header {
    position: sticky;
    left: 0;
    z-index: 100;
}

#close {
    margin-right: 0;
    margin-left: auto;
}

.plan {
    display: inline-flex;
    padding-top: 0;
}

app-subject:last-child {
    margin-right: 0;
}

app-subject {
    margin-right: 20px;
}









