.plan {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    position: relative;
    top: 110px;
    margin: 15px;
}

.block-name {
    margin: 15px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 90px;
}
