.plan {
    display: inline-flex;
    padding-top: 1px;
}

app-subject:last-child {
    margin-right: 1px;
}

app-subject {
    margin-right: 20px;
}

#close {
    margin-right: 1px;
    margin-left: auto;
    float: right;
}







