<app-start-top-menu></app-start-top-menu>
<section id="search_section">

    <mat-autocomplete
        #auto="matAutocomplete"
        class="mat-autocomplete-search-panel"
        (optionSelected)="fetchCardData()"
        [displayWith]="displaySubjectName"
    >

        <p *ngIf="filteredSubjectList.length !== 0">{{'SearchName' | translate}}:</p>
        <mat-option
            class="mat-option-search"
            *ngFor="let filteredSubject of filteredSubjectList"
            [value]="filteredSubject"
        >
            {{filteredSubject.subjectName}}
        </mat-option>

        <p *ngIf="filteredSubjectLectureList.length !== 0">{{'SearchLectures' | translate}}:</p>
        <mat-option
            class="mat-option-search"
            *ngFor="let filteredSubjectLecture of filteredSubjectLectureList"
            [value]="filteredSubjectLecture"
        >
            {{filteredSubjectLecture.subjectName}}
        </mat-option>

    </mat-autocomplete>

    <input
        type="text"
        id="search_input"
        name="search_input"
        placeholder="{{'SearchPlaceholder' | translate }}"
        matInput
        [matAutocomplete]="auto"
        [formControl]="subjectWritten"
        [(ngModel)]="chosenSubjectLecture"
    >


</section>

<section *ngIf="this.loaderService.getLoading1()" class="spinner">
    <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
</section>
