<app-start-top-menu></app-start-top-menu>
<section id="search_section">

    <mat-autocomplete #auto="matAutocomplete" class="mat-autocomplete-search-panel">

        <p>Wyszukiwanie po nazwach:</p>
        <mat-option
            class="mat-option-search"
            *ngFor="let subject of subjectList" [value]="subject"
        >
            {{subject}}
        </mat-option>

        <p>Wyszukiwanie po treściach:</p>
        <mat-option
            class="mat-option-search"
            *ngFor="let subject of subjectList" [value]="subject"
        >
            {{subject}}
        </mat-option>

    </mat-autocomplete>

    <input
        type="text"
        id="search_input"
        name="search_input"
        placeholder="Wyszukaj kurs, frazę..."
        matInput
        [matAutocomplete]="auto"
        [formControl]="subjectWritten"
    >


</section>
