#search_input {
    width: 60%;
    margin: auto;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 45px;
    filter: drop-shadow(2px 2px 2px var(--shadow-color));
    padding: 8px 30px;
    font-family: Alata, serif;
    font-size: 16px;
    background-image: url("../../../assets/search_icon_black.png");
    background-size: 24px;
    background-position: 99% 50%;
    background-repeat: no-repeat;
}

p {
    font-family: Amiko, serif;
    font-size: 16px;
    color: var(--search-title-color);
    margin: 12px 0 3px 0;
    padding-left: 3%;
}

::placeholder {
    color: var(--placeholder-color);
}

mat-option {
    border-radius: 45px;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: var(--primary-color) !important;
}
