@import url("app/ui/colors.css");

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-autocomplete-search-panel {
    max-height: 500px !important;
    border-radius: 30px !important;
}

.mat-option-search {
    padding-left: 6% !important;
}
