<app-margin></app-margin>

<div>

    <section *ngIf="!this.loaderService.getLoading4()" id="information">

        <table id="information_table">
            <tr>
                <td>{{'Degree' | translate}}:</td>
                <td>{{chosenProgram.field_name}}</td>
            </tr>
            <tr *ngIf="specializationChosen != null">
                <td>{{'Specialization' | translate}}:</td>
                <td>{{specializationChosen}}</td>
            </tr>
            <tr>
                <td>{{'Profile' | translate}}:</td>
                <td>{{chosenProgram.is_general_academic}}</td>
            </tr>
            <tr>
                <td>{{'LevelStudy' | translate}}:</td>
                <td>{{chosenProgram.education_level}}</td>
            </tr>
            <tr>
                <td>{{'Form' | translate}}:</td>
                <td>{{chosenProgram.is_full_time}}</td>
            </tr>
            <tr>
                <td>{{'StudyLanguage' | translate}}:</td>
                <td>{{chosenProgram.language}}</td>
            </tr>
        </table>

        <section id="buttons">
            <button (click)="navigate()">{{'Plan' | translate}}</button>
        </section>

        <button id="website_button">
            <a href="https://wit.pwr.edu.pl/studenci/programy-studiow">
                <img src="../../../assets/go_to_website_icon.png" id="website_img" alt="PWr website">
            </a>
        </button>
        <p id="website_img_title">{{'ToPWrWebsite' | translate}}</p>

    </section>

    <section *ngIf="this.loaderService.getLoading4()" class="spinner">
        <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
    </section>

</div>
