<app-margin></app-margin>

<div>

    <section id="information">

        <table id="information_table">
            <tr>
                <td>Kierunek studiów:</td>
                <td>{{chosenProgram.officialName}}</td>
            </tr>
            <tr *ngIf="specializationChosen != null">
                <td>Specjalność:</td>
                <td>{{specializationChosen}}</td>
            </tr>
            <tr>
                <td>Profil:</td>
                <td>{{chosenProgram.profile}}</td>
            </tr>
            <tr>
                <td>Poziom studiów:</td>
                <td>{{chosenProgram.levelOfStudy}}</td>
            </tr>
            <tr>
                <td>Forma studiów:</td>
                <td>{{chosenProgram.formOfStudy}}</td>
            </tr>
        </table>

        <section id="buttons">
            <button>Opis ogólny</button>
            <button [routerLink]="['/plan/all']">Plan</button>
        </section>

        <button id="website_button">
            <a href="https://wit.pwr.edu.pl/studenci/programy-studiow">
                <img src="../../../assets/go_to_website_icon.png" id="website_img" alt="PWr website">
            </a>
        </button>
        <p id="website_img_title">Przejdź do strony PWr</p>

    </section>

</div>
