<app-margin></app-margin>

<div>

    <section id="information">

        <table id="information_table">
            <tr>
                <td>{{'Degree' | translate}}:</td>
                <td>{{chosenProgram.officialName}}</td>
            </tr>
            <tr *ngIf="specializationChosen != null">
                <td>{{'Specialization' | translate}}:</td>
                <td>{{specializationChosen}}</td>
            </tr>
            <tr>
                <td>{{'Profile' | translate}}:</td>
                <td>{{chosenProgram.profile}}</td>
            </tr>
            <tr>
                <td>{{'Level' | translate}}:</td>
                <td>{{chosenProgram.levelOfStudy}}</td>
            </tr>
            <tr>
                <td>{{'Form' | translate}}:</td>
                <td>{{chosenProgram.formOfStudy}}</td>
            </tr>
        </table>

        <section id="buttons">
            <button (click)="navigateTo('GeneralDescription')">
                {{'GeneralDescription' | translate}}
            </button>
            <button [routerLink]="['/plan/all']">{{'Plan' | translate}}</button>
        </section>

        <button id="website_button">
            <a href="https://wit.pwr.edu.pl/studenci/programy-studiow">
                <img src="../../../assets/go_to_website_icon.png" id="website_img" alt="PWr website">
            </a>
        </button>
        <p id="website_img_title">{{'ToPWrWebsite' | translate}}</p>

    </section>

</div>
