<!--<a [routerLink]="getNavigationRoute()" (click)="sendData()">-->
<a (click)="openDialog()">
    <div class="container" matRipple [matRippleCentered]="true" [ngStyle]="{'background-color': changeColor()}">

    <div class="first-row">
        <div class="top-left">
            {{ block.ects }} ECTS<br>
            ({{ block.ectsString }})
        </div>
        <div class="top-right">
            {{ block.exam }}
        </div>
    </div>
    <div class="row"><div class="subject">{{ block.name }}</div></div>
    <div class="row" id="bottom-row">{{ block.hours }}</div>
</div>
</a>


